.area-header {
  grid-area: search;
}

.area-not-found,
.area-home,
.area-full-page,
.area-pay,
.area-wordy,
.area-subscribe,
.area-card,
.area-confirm-email,
.area-change-password,
.area-reset-password,
.area-forgotten-password,
.area-user-details,
.area-addresses,
.area-login {
  grid-area: main;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.area-social {
  grid-area: social;
  padding: 1.33rem;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.area-profile-header,
.area-products {
  grid-area: product;
}

.area-footer {
  color: $defaultDeepDeepColor;
  background-color: $defaultLightLightColor;
  width: 100%;
  text-align: center;
  border-top: 1px solid $defaultLightColor;
  padding: 0.68rem 0.31rem;
}

.area-not-found {
  text-align: center;
  margin: auto 0;
  height: 300px;
  display: flex;
  align-items: center;
}

.area-home {
  .product > img {
    display: block;
    width: 100%;
    max-width: 500px;
  }
}

.main-logo {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 36px;

  & > img {
    height: 80px;
  }
}

.header-logo {
  display: block;
  position: relative;

  & > img {
    height: 30px;
  }
}

.area-wordy {
  padding: 48px 16px 16px 16px;

  h3 {
    color: $primaryDeepColor;
    font-size: 1.1em;
  }

  h4 {
    margin-top: 12px !important;
    font-size: 0.9em;
  }
}
