.float-button,
.float-button > svg[data-icon='plus'],
a > svg[data-icon='plus'] {
  background: $primaryDeepColor;
  padding: 12px;
  width: 45px !important;
  height: 45px;
  border-radius: 45px;
  color: $white;

  position: fixed;
  z-index: 1000;
  right: 12px;
  bottom: 12px;
}

span.delete {
  color: $defaultDeepDeepColor;
}

.wider {
  padding: 0 1.5rem;
}

.left {
  text-align: left !important;
}

.area-user-details .button-area {
  margin-top: 48px;
}

svg[data-prefix='fas'] {
  cursor: pointer;
}
