$primaryDeepColor: #fe3e4d;
$primaryColor: #fe3e4d;
$primaryLightColor: #fc7093;

$primaryLightLightColor: #fea3ba;
$primaryLightLightLightColor: #fea3ba25;
$primaryLightDeepColor: #fc7899;
$primaryLightDeepDeepColor: #d80a3d;

$defaultSuperDeepDeepColor: #7a7979;
$defaultDeepDeepColor: #b3b3b3;
$defaultDeepColor: #b7b6b7;
$defaultColor: #e4e4e4;
$defaultLightColor: #f4f4f4;
$defaultLightLightColor: #fefefe;

$white: #ffffff;
$deepRed: #f6003e;
$red: #f71e54;

$alignmentPadding: 0.75rem;

$displayBlack: rgba(
  $color: #000000,
  $alpha: 0.7
);

$clickableColor: #0577e5;
